*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:Montserrat,sans-serif;
background:#f7f3ec;
color:#2e2417;
}

nav{
position:sticky;
top:0;
background:white;
display:flex;
justify-content:space-between;
align-items:center;
padding:15px 8%;
box-shadow:0 2px 10px rgba(0,0,0,.08);
z-index:999;
}

.logo-nav img{
height:60px;
}

.menu{
display:flex;
gap:30px;
}

.menu a{
text-decoration:none;
color:#333;
font-weight:600;
}

.hero{
height:90vh;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
background:
linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3)),
url("images/bottle main.png");
background-size:cover;
background-position:center;
color:white;
}

.hero h1{
font-family:'Cormorant Garamond',serif;
font-size:5rem;
}

.hero p{
font-size:1.4rem;
margin-top:15px;
}

.btn-gold{
display:inline-block;
margin-top:30px;
background:#b8943c;
padding:14px 30px;
border-radius:40px;
color:white;
text-decoration:none;
font-weight:bold;
}

section{
padding:90px 10%;
}

.product-showcase{
display:grid;
grid-template-columns:1fr 1fr;
gap:60px;
align-items:center;
}

.product-image img{
width:100%;
max-width:500px;
display:block;
margin:auto;
}

h2{
font-family:'Cormorant Garamond',serif;
font-size:3rem;
margin-bottom:30px;
text-align:center;
}

.cards{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:20px;
}

.card{
background:white;
padding:30px;
border-radius:15px;
box-shadow:0 5px 15px rgba(0,0,0,.08);
}

.beige{
background:#efe5d5;
}

.two-columns{
display:grid;
grid-template-columns:1fr 1fr;
gap:40px;
}

.gallery{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:20px;
}

.gallery img{
width:100%;
border-radius:20px;
}

.center{
text-align:center;
max-width:800px;
margin:auto;
}

form{
max-width:700px;
margin:auto;
display:flex;
flex-direction:column;
gap:15px;
}

input,
textarea{
padding:15px;
border:1px solid #ccc;
border-radius:10px;
}

button{
background:#b8943c;
color:white;
border:none;
padding:15px;
border-radius:10px;
font-size:16px;
cursor:pointer;
}

footer{
background:#17120d;
color:white;
text-align:center;
padding:50px;
}

.social{
display:flex;
justify-content:center;
gap:25px;
margin:20px 0;
}

.social a{
color:#d7b46c;
text-decoration:none;
}

@media(max-width:768px){

.product-showcase,
.two-columns,
.cards,
.gallery{
grid-template-columns:1fr;
}

.hero h1{
font-size:3rem;
}

}
